<nav class="bg-dark d-flex flex-column text-center py-5">
  <a class="my-5 p-3" href="{{ site.baseurl }}">
    <img src="{{ site.logo | relative_url}}" alt="vectorVcinco">
  </a>
  <div class="list-group p-5" id="navbarNav">
    <a class="list-group-item list-group-item-action" href="#">Home</a>
    <a class="list-group-item list-group-item-action" href="#">Features</a>
    <a class="list-group-item list-group-item-action" href="#">Pricing</a>
    <a class="list-group-item list-group-item-action" href="#">Disabled</a>
  </div>
</nav>
