<div class="row">
  <div class="col">
    {% include portfolio_carousel.html images=include.post.images title=include.post.title %}
  </div>
</div>
<dir class="row">
  <div class="coltext-left">
    {{ include.post.content }}
  </div>
</dir>
<hr class="bg-primary">
<div class="row">
  <div class="col text-left text-dark">
    {% if include.post.client %}
    <p><span class="font-weight-bold">Client:</span> {{ include.post.client }}</p>
    {% endif %}
    {% if include.post.materials %}
    <p><span class="font-weight-bold">Meterials:</span> {{ include.post.materials }}</p>
    {% endif %}
    {% if include.post.productiondate %}
    <p><span class="font-weight-bold">Date:</span> {{ include.post.productiondate }}</p>
    {% endif %}
  </div>
</div>
